<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/addtarefa.css">
    <title>Document</title>
</head>
<body>
    
    <div class="Desktop1" >
    <a href="./turmasprof.html">    <img class="Rectangle1" src="../img/logo-senai1.png" ></a>
        <div class="Ellipse1" ></div>
        <div class="Professor">Professor</div>
        <div class="EnsinoMedio">2 Ensino Médio</div>
        <div class="Line1"></div>
       <button> <div class="add">+</div></button>
        <input class="AdicionarRecado" placeholder="Adicionar Recado...">
        <div class="Rectangle2"></div>
        




</body>
</html>