<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrar</title> 

    <link rel="stylesheet" href="../css/logins.css">
    
</head>
<body>
    
    <main>

        <img src="../img/logo.png" alt="">

        <section>

            <input type="text" id="rm" placeholder="RM">
            <input type="password" id="senha" placeholder="SENHA" >

            <button>ENTRAR</button>

        </section>

        <p><a href="../html/loginprofessor.html"> ou tente entrar como professor </a></p>

        
        <div id="erro"></div>

    </main>

</body>
</html>