<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../css/materias.css">
    <title>Planilha</title>
</head>
<body>
    <div class="background">
        <img class="senai" src="../img/logo-senai1.png" />
        <p></p>
        <button class="caixa"></button>
        <div class="classe">POO</div>
        <div class="bola"></div>
        <div class="aluno">Aluno</div>
        <div class="escola">CE - 110</div>
        <img class="guri" src="bah.jpg" />
    </div>
    
</body>
</html>