<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/turmas.css">
    <title>Inicial</title>

<body>

    <div class="Desktop1">
        <img class="Rectangle1" src="../img/logo-senai1.png">
      <a href="">  <div class="Rectangle2" ></div>  </a>
      <a href="">   <div class="Rectangle3" ></div> </a>
    <a href="">   <div class="Rectangle4" ></div>  </a>
        <div class="EnsinoMDioSesi1" >1 Ensino médio SESI</div>  
        <div class="EnsinoMDioSesi2" >2 Ensino médio SESI</div>  
       <div class="EnsinoMDioSesi3" >3 Ensino médio SESI</div>  
        <div class="Professor" >Professor</div>
        <div class="Line1" ></div>
        <button class="add" >+</div>
        <input class="AdicionarTurma" placeholder="Adicionar Turma..." ></div>
        <div class="Ce1101" >CE - 110</div>
        <div class="Ce1102" >CE - 110</div>
        <div class="Ce1103" >CE - 110</div>
    </div>

</body>


    </head>
    </html>