*{ 
    margin: 0;
   padding: 0;
   outline: 0;
   box-sizing: border-box;
   }
   
   html, body{ 
   font-family: Arial, Helvetica, sans-serif; /*fontes*/
   color: black; /*cor da fonte*/
   font-size: 62.5%;
   text-rendering: optimizeLegibility;
   }

   body{
    font-family: Arial, Helvetica, sans-serif;
   }

   .Desktop1{

    width: 100%; 
    height: 100%; 
    position: relative; 
    background: white


   }


   .Rectangle1{

    width: 20rem; 
    height: 20rem; 
    left: 4.3rem;
    top: 1rem ;
    position: absolute;

   }


   .Rectangle2{

    width: 20.2rem; 
    height: 13.1rem; 
    left: 2.4rem; 
    top: 35rem;
     position: absolute;
      background: #25271B;
       border-radius: 2rem;

   }

   .Rectangle3{
    width: 20.2rem; 
    height: 13.1rem;
     left: 2.4rem;
      top: 52.8rem; 
      position: absolute; 
      background: #25271B; 
      border-radius: 2rem
}


.Rectangle4{
    width: 20.2rem; 
    height: 13.1rem; 
    left: 2.4rem; 
    top: 70.6rem; 
    position: absolute; 
    background: #25271B;
     border-radius: 2rem


}


.EnsinoMDioSesi1{

    left: 28.1rem; 
    top: 40.8rem;
     position: absolute;
      color: black; 
      font-size: 3.6rem; 
      
       font-style: italic; 
       font-weight: 50rem;
        line-height: 2.4rem;
         word-wrap: break-word


}


.EnsinoMDioSesi2{
    left: 28.1rem;
     top: 59.4rem;
      position: absolute; 
      color: black; 
      font-size: 3.6rem; 
      
       font-style: italic; 
       font-weight: 50rem; 
       line-height: 2.4rem; 
       word-wrap: break-word

}


.EnsinoMDioSesi3{
    left: 28.2rem;
     top: 76rem;
      position: absolute;
       color: black;
        font-size: 3.6rem;
         
          font-style: italic;
           font-weight: 50rem; 
           line-height: 2.4rem;
            word-wrap: break-word


}



.Professor{

    left: 108.6rem; 
    top: 8.8rem;
     position: absolute; 
     color: black; 
     font-size: 3.6rem;
      
       font-style: italic;
        font-weight: 50rem; 
        line-height: 2.4rem; 
        word-wrap: break-word

}

.Line1{
    width: 81.1rem; 
    height: 0rem;
     left: 2.7rem; 
     top: 31.6rem;
      position: absolute;
       border: 0.05rem #DC1F13 solid

}

.add{
    left: 79.5rem;
     top: 27.7rem; 
     position: absolute;
      color: #DC1F13;
       font-size: 6.4rem;
        border: none;
         font-style: italic;
          font-weight: 50rem;
           line-height: 2.4rem;
            word-wrap: break-word;
            background-color: white;
}

a:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    
    -webkit-filter: drop-shadow(1.5rem 1rem 0.5rem rgba(0,0,0,.5));
    filter: drop-shadow(1.5rem 1rem 0.5rem rgba(0,0,0,.5));  
    
}


button:hover{

color: black;
transform: scale(1.4);
    transition: all 0.3s;
}


.AdicionarTurma{
    left: 2.7rem;
     top: 25.6rem;
      position: absolute; 
      opacity: 0.050rem; 
      color: black;
       font-size: 3.6rem;
        border: none;
         font-style: italic; 
         font-weight: 50rem; 
         line-height: 2.4rem;
         word-wrap: break-word
}

.Ce1101{
    left: 6.6rem; 
    top: 40.4rem;
     position: absolute; 
     color: #DC1F13;
      font-size: 3.6rem; 
      
      font-weight: 40rem; 
      line-height: 2.4rem; 
      word-wrap: break-word
}

.Ce1102{
    left: 6.6rem; 
    top: 58.1rem;
    position: absolute;
     color: #DC1F13; 
     font-size: 3.6rem;
    
     font-weight: 40rem; 
     line-height: 2.4rem; 
     word-wrap: break-word

}

.Ce1103{
    left: 6.7rem;
     top: 75.9rem; 
     position: absolute; 
     color: #DC1F13; 
     font-size: 3.6rem; 
     
      font-weight: 40rem; 
      line-height: 2.4rem; 
      word-wrap: break-word
}